@import '/src/styles/styles.scss';
.MenuLink{
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: $black;
    display: inline-block;
    margin: 0 15px;
    display: inline-block;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -3px;
        height: 2px;
        width: 0;
        background-color: $black;
        transition: 0.3s ease-in-out;
    }
    &:hover{
        cursor: pointer;
        text-decoration: none;
        color: $black;
        &:after{
            width: 100%;
        }
    }
}